.form-control.form-error {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.error-message {
    color:#dc3545;
    margin-top: 5px;
}

.alert {
    border-radius: 0 !important;
}

.login-page,
.register-page {
    background: #272727;
}

.register-box {
    width: 980px;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
}

span.select2-selection.select2-selection--single {
    height: auto;
}

@media only screen and (max-width: 980px) {
    .register-box {
        width: 90% !important;
    }
}

@media only screen and (min-width: 980px) {
    .hide-desktop {
        display: none;
    }
}