/* FLOATING LABEL */
.label-floating.text input:not(:placeholder-shown),
.label-floating textarea:not(:placeholder-shown) {
    padding-top: 1.4rem;
}

.label-floating.text input:not(:placeholder-shown)~label,
.label-floating textarea:not(:placeholder-shown)~label {
    font-size: 0.8rem;
    color: #888;
    display: block;
}

.label-floating.select select {
    padding-top: 1.4rem;
}

.label-floating.file input {
    padding-top: 2rem;
}

.label-floating.select label,
.label-floating.file label {
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
    color: #888;
    display: block;
}


.prev.disabled,
.next.disabled {
    display: none;
}
